.contributors{
	background-color:#fff;
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2);
	float:left;
	width:100%;
	padding:20px;
}